@model NewsAndEvents
@{
    ViewData["Title"] = "Главная";
}

<div class="swiper mySwiper swiper-h">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background: url('../img/crs_1.jpg');"></div>
        <div class="swiper-slide">
            <div class="swiper mySwiper2 swiper-v">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url('https://www.molnet.ru/mos/image?objectId=696363');"></div>
                <div class="swiper-slide" style="background: url('https://avatars.mds.yandex.net/get-altay/1042100/2a00000167a64d91f98f8ca69cc0033bac78/XXL');"></div>
                <div class="swiper-slide" style="background: url('https://moschem.olimpiada.ru/upload/images/3e.jpg');"></div>
                <div class="swiper-slide" style="background: url('https://www.mos.ru/upload/newsfeed/pressevents/sl4(64).jpg');"></div>
                <div class="swiper-slide" style="background: url('https://edcommunity.ru/upload/iblock/a32/IMG_4986.jpg');"></div>
            </div>
            <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="swiper-slide" style="background: url('https://www.muctr.ru/upload/news/files/2017/o2.JPG');"></div>
        <div class="swiper-slide" style="background: url('https://www.muctr.ru/upload/news/files/2017/worldskills3b.jpg');"></div>
    </div>
    <div class="swiper-pagination"></div>
</div>

<div class="headers-of-main-page">
    <a asp-controller="Home" asp-action="GetAllNews">Новостная лента</a>
</div>
<ul class="news-and-actions">
    @foreach(News item in Model.News.News)
    {
    <li class="container">
        <img src="@item.mediaUrl" />

        <div>
            <h5><a asp-controller="Home" asp-action="GetNews" asp-route-id="@item.id">@item.title</a></h5>
            <p>@Html.Raw(item.description.Split("<br>")[0]) </p>
        </div>
        </li>
        @if(item != Model.News.News.Last())
        {
            <div class="for-border"></div>   
        }
    }
</ul>

<div class="headers-of-main-page">
    <a asp-controller="Home" asp-action="GetAllActions">Последние события</a>
</div>
<ul class="news-and-actions">
    @foreach(Events item in Model.Events.Events)
    {
    <li class="container">
        <img src="@item.mediaUrl" />

        <div>
            <h5><a asp-controller="Home" asp-action="GetActions" asp-route-id="@item.id">@item.title</a></h5>
            <p>@Html.Raw(item.description.Split("<br>")[0])</p>
        </div>
    </li>
        @if(item != Model.Events.Events.Last())
        {
            <div class="for-border"></div>   
        }
    }
</ul>
